@import url("./variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-background-color);
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;

  & h1 {
    color: wheat;
    text-shadow: 2px 0 var(--primary-background-color),
      0 2px var(--primary-background-color),
      2px 0 var(--primary-background-color),
      0 -2px var(--primary-background-color);

    padding: 0.75rem 1.5rem;
  }

  & button {
    border: none;
    outline-style: none;
    color: wheat;
    font-size: 1rem;
    background-color: transparent;
    text-shadow: 2px 0 var(--primary-background-color),
      0 2px var(--primary-background-color),
      2px 0 var(--primary-background-color),
      0 -2px var(--primary-background-color);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.75rem;
  }

  & button::before {
    content: "\ff0b  ";
  }

  & button:hover {
    background-color: rgba(46, 39, 46, 0.5);
  }
}

dialog {
  padding: 0.75rem 0.5rem;
  align-self: center;
  justify-self: center;
  justify-items: center;
  border: none;
  background-color: rgba(44, 9, 9, 0.7);
  border-radius: 0.6rem 0.6rem 1.2rem 1.2rem;
}

dialog::backdrop {
  background-color: rgba(245, 222, 179, 0.3);
}

p.form-message {
  padding: 0.5rem;
  color: transparent;
}

p.form-message-error {
  padding: 0.5rem;
  color: indianred;
}

form.notice-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  & textarea {
    width: 100%;
    border: 0;
    border-radius: 0.6rem 0.6rem 0 0.6rem;

    padding: 0.5rem;
    background-color: wheat;
    outline-color: wheat;
  }
}

div.notice-form-buttons {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;

  & input[type="submit"],
  button {
    background-color: rgba(245, 222, 179, 0.3);
    color: wheat;
    border-radius: 0.4rem;
    font-weight: bold;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px;
    border: none;

    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }
}

main {
  max-width: 1200px;
  justify-self: center;
  padding: 1rem;
}

ul.notices-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  list-style: none;
}

li.notice-item {
  width: 70dvw;
  background-color: wheat;
  position: relative;
  padding: 1.75rem 0.5rem 0.5rem 0.5rem;

  & p {
    text-indent: 1rem;
    line-clamp: 10;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  & p::after {
    content: "...";
  }

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.delete-btn,
.edit-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  font-size: 1.5rem;
}

.delete-btn {
  color: indianred;
  right: 0;
  padding: 0 0.5rem;
}
.edit-btn {
  color: rgba(44, 9, 9, 0.7);
  right: left;
}

@media screen and (min-width: 500px) {
  li.notice-item {
    width: 42dvw;
  }
}

@media screen and (min-width: 700px) {
  li.notice-item {
    width: 30dvw;
  }
}

@media screen and (min-width: 1000px) {
  li.notice-item {
    width: 20dvw;
  }
}
